<h1>{{ user.username }}の学習ページ 🐇</h1>

<form method="POST">
    {% csrf_token %}

        <label>学習内容</label>
        <input type="text" name="content">

        <button class="add-button" type="submit">登録する</button>

</form>

{% for study in studies %}

    
    <p>{{ study.content }}</p>

    <form action="{% url 'delete' study.id %}"
      method="POST"
      onsubmit="return confirm('本当に削除しますか？');">

    {% csrf_token %}
    <button type="submit">削除</button>

    </form>

{% empty %}

    <p>まだ学習記録がないよ！</p>

{% endfor %}